body {
  background-color: #ffffff;
}
#sidenav-toggle img {
  background-color: #000000;
}
#sidenav-toggle img:hover {
    background-color: #00A7E8;
}
#sidenav-toggle img {
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
    padding: 10px 8px;
    padding: 1rem 0.8rem;
}
#sidenav-toggle {
    position: absolute;
    top: 0;
    right: 10px;
    right: 1rem;
    border: none;
    background: transparent;
    font-size: 28px;
    font-size: 2.8rem;
    font-family: 'nimbus-sans-condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 70px;
    line-height: 7rem;
}
.ct-sidenav.open {
    right: 0;
}
.ct-sidenav {
    width: 343px;
    width: 34.3rem;
    height: 100%;
    position: fixed;
    z-index: 9990;
    top: 0;
    right: -34.3rem;
    background: #191320;
    padding: 75px 0 20px;
    padding: 7.5rem 0 2rem;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: right 0.25s ease-in-out;
    transition: right 0.25s ease-in-out;
    color: #b7b6b6;
}
.ct-sidenav .close {
    position: absolute;
    top: 7px;
    top: 0.7rem;
    right: 15px;
    right: 1.5rem;
    text-shadow: none;
    color: #fff;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    font-size: 80px;
    font-size: 8rem;
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    font-weight: lighter;
}
.ct-sidenav-logo {
    max-width: 150px;
    max-width: 15rem;
    position: absolute;
    top: 30px;
    top: 3rem;
    left: 60px;
    left: 6rem;
}
.ct-sidenav-list {
    padding: 50px 0 30px;
    padding: 5rem 0 3rem;
    color: #6e6e6e;
    font-size: 22px;
    font-size: 2.2rem;
}
.ct-sidenav-list > li {
    -webkit-transition: background-color 250ms ease-in-out;
    transition: background-color 250ms ease-in-out;
}
.ct-sidenav-list > li > a, .ct-sidenav-list > li button {
    font-family: 'Open Sans Condensed', sans-serif;
}
.ct-sidenav-list > li > a, .ct-sidenav-list > li button {
    display: inline-block;
    text-align: left;
    width: 100%;
    padding: 8px 25px 8px 65px;
    padding: 0.8rem 2.5rem 0.8rem 6.5rem;
    border: none;
    background-color: transparent;
    font-family: 'nimbus-sans-condensed', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 26px;
    font-size: 2.6rem;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    text-transform: uppercase;
}
.ct-sidenav .inner {
    padding-left: 65px;
    padding-left: 6.5rem;
}
.ct-sidenav .separator {
    width: 100%;
    height: 1px;
    height: 0.1rem;
    background-color: rgba(255,255,255,0.2);
    max-width: 185px;
    max-width: 18.5rem;
    display: inline-block;
    margin-top: 35px;
    margin-top: 3.5rem;
}
.ct-sidenav .ct-footer-header {
    padding-bottom: 15px;
    padding-bottom: 1.5rem;
}
.ct-footer-header {
    font-family: 'Open Sans Condensed', sans-serif;
}
.ct-footer-header {
    color: #00bff3;
    text-transform: uppercase;
    font-size: 20px;
    font-size: 2rem;
    font-weight: 700;
    padding: 30px 0 25px;
    padding: 3rem 0 2.5rem;
}
.address {
    font-size: 14px;
    font-size: 1.4rem;
}
.address span {
    display: block;
    margin-top: 5px;
    margin-top: 0.5rem;
}
.ct-sidenav .ct-footer-header {
    padding-bottom: 15px;
    padding-bottom: 1.5rem;
}
ul {
    margin-bottom: 0;
    font-size: 1.7rem;
}
.ct-u-paddingTop60 {
    padding-top: 60px;
    padding-top: 6rem;
}
.ct-search.form-group {
    width: 100%;
    display: block;
    padding-right: 25px;
    padding-right: 2.5rem;
}